<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Vehicles - Mushroom motors</title>
  <meta name="description" content="Shop affordable second-hand cars in Kenya at Mushroom Motors. Wide selection of inspected used sedans, SUVs & trucks in Nairobi. Your next reliable used car awaits!" />

  <!-- Favicons -->
  <link href="static/assets/img/modern_mushroom.jpeg" rel="icon">
  <link href="static/assets/img/modern_mushroom.jpeg" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/main_v5.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="blog-page">

  <header id="header" class="header d-flex align-items-center sticky-top dark-background">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="/static/assets/img/modern_mushroom.jpeg" alt="" loading="lazy">
        <h1 class="sitename"> <b>Mushroom Motors.</b></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
<!--          <li><a href="{{url_for('team')}}">Team</a></li>-->
          <li><a href="{{url_for('blog')}}" class="active">Vehicles</a></li>
          <li><a href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
            {% if current_user.is_admin %}
          <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                {% if current_user.email in admin_list %}
              <li><a href="{{url_for('admin')}}">Admin Control Panel</a></li>
                {% endif %}
              <li><a href="{{url_for('edit_profile', index=current_user.id)}}">My Profile</a></li>
              <li><a href="{{url_for('blog', selected_user=current_user.id)}}">My Posts</a></li>
              <li><a href="{{url_for('upload')}}">Upload</a></li>
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="https://wa.me/+254748424226?Hi Victor I need help with sth" target="_blank">Contact Developer</a></li>
              <li><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>
          </li>
            {% endif %}
          <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{url_for('contact')}}">Enquiry</a>
    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
                      <i class="bi bi-filter d-flex align-items-center justify-content-center light-background" id="filterButton" onclick="toggleFilterForm()">Show filter</i>

        <h1>Vehicles</h1>
          <nav class="breadcrumbs">
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li class="current">Vehicle Catalogue</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- templates/search_widget.html -->
<div class="search-widget" id="target">
    <form id="searchForm" onsubmit="return false;">
        <input type="hidden" id="csrf" name="csrf_token" value="{{ csrf_token }}">
        <div class="filter-section">
            <input type="text" id="keyword" name="keyword" placeholder="Enter keyword" class="search-input">
            <div class="row">
            <div class="col-2 filter-group">
                <label>Brand</label>
                <select title="brand" name="brand" id="brand" class="filter-select" hx-post="{{url_for('options')}}" hx-trigger="change" hx-target="#model">
                    <option value="all">All brands</option>
                    {% for brand in brands %}
                    <option value="{{ brand }}">{{ brand }}</option>
                    {% endfor %}
                </select>
                <label>Model</label>
                <select name="model" title="model" id="model" class="filter-select">
                    <option value="all">All Models</option>
                </select>
                <label>Sort By:</label>
                <select name="order" title="order" id="feature" class="filter-select">
                    <option value="new model">Newest Model Year</option>
                    <option value="old model">Oldest Model Year</option>
                    <option value="mileage">Mileage</option>
                    <option value="name ascending">Ascending model name</option>
                    <option value="name descending">Descending model name</option>
                </select>
            </div>

            <div class="col-2 filter-group">
                <label>Filter by Budget</label>
                <div class="checkbox-group">
                    <label>
                        <input type="checkbox" name="price" value="0-500K">
                        0-500K
                    </label>
                    <label>
                        <input type="checkbox" name="price" value="500K-1M">
                        500K-1M
                    </label>
                     <label>
                        <input type="checkbox" name="price" value="1M-1500K">
                        1M-1.5M
                    </label>
                    <label>
                        <input type="checkbox" name="price" value="1500K-2M">
                        1.5M-2M
                    </label>
                    <label>
                        <input type="checkbox" name="price" value="2M-3M">
                        2M-3M
                    </label>
                    <label>
                        <input type="checkbox" name="price" value="3M-5M">
                        3M-5M
                    </label>
                    <label>
                        <input type="checkbox" name="price" value="5M-10M">
                        5M-10M
                    </label>
                    <label>
                        <input type="checkbox" name="price" value="Above 10M">
                        Above 10M
                    </label>
                </div>
            </div>

            <div class="col-2 filter-group">
                <label>Availability</label>
                <div class="toggle-buttons" id="filter-actions" onclick="chooseFilter(event)">
                    <button type="button" class="toggle-btn active" data-value="all">All (294)</button>
                    <button type="button" class="toggle-btn" data-value="local">Available in Kenya</button>
                    <button type="button" class="toggle-btn" data-value="import">Direct Import/International stock</button>
                </div>
            </div>

<!--            <div class="col-2 filter-group">-->
<!--                <label>Features</label>-->
<!--                <select name="features" id="features" class="filter-select" multiple>-->
<!--                    {% for feature in features %}-->
<!--                    <option value="{{ feature }}">{{ feature }}</option>-->
<!--                    {% endfor %}-->
<!--                </select>-->
<!--            </div>-->

            <div class="col-2 filter-actions">
                <button type="button" title="clear" onclick="clearFilters()" class="btn btn-primary clear-button">Clear all</button>
                <button type="button" title="search" onclick="performSearch()" class="btn btn-primary search-button">Search</button>
            </div>
            </div>
        </div>
    </form>
</div>
<div id="results-container">
    {% if pages.items %}
    <!-- Blog Posts 2 Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">

      <div class="container">

         <div class="row gy-5">

    <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h1 class="text-center mb-4">Vehicle Catalogue</h1>
          <br>
          <a href="#footer"> Showing page {{ pages.page }} out of {{ pages.pages }} total pages <i class="bi bi-arrow-down"></i></a>
<!--        <a href="{{url_for('blog')}}"> Displaying posts {{ pages.first }} - {{ pages.last }} of {{ pages.total }} <br><i class="bi bi-star"></i> </a> <br>-->
      </div><!-- End Section Title -->

          {% for page in pages %}
        <div id="vehicle-{{ page.id }}" class="col-lg-4 col-md-6 mt-5">
            <a href="{{ url_for('blog_details', post_id=page.id) }}" aria-label="link to vehicle with ID Number {{page.id}}">
        <div class="card card-standard">
            {% set image_url = page.img_url.strip("[]").split(",")[0].strip().strip("'") %}
            <img src="{{ page.folder_name ~ '/' ~ image_url }}" class="card-img-top" alt="Car Image" loading="lazy">
             <!-- Overlay Div -->
                <div class="image-overlay">
                    <!-- Dealer Logo -->
                    <div class="dealer-logo">
                        <img src="{{ url_for('static', filename='assets/img/modern_mushroom.jpeg') }}" alt="Dealer Logo">
                    </div>

                    <!-- SOLD Overlay (conditionally rendered) -->
<!--                    {% if page.sold %}-->
<!--                        <div class="sold-overlay">SOLD</div>-->
<!--                    {% endif %}-->
                </div>
            {% if current_user.is_admin %}
             <div class="check-stock" id="check-stock-{{page.id}}">
            {% if page.sold %}
            <a hx-get="{{ url_for('stock', index=page.id)}}"
                  hx-target="#edit-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  data-url="{{ url_for('stock', index=page.id)}}"
               class="badge sold"><span>Sold</span></a>
            {% elif page.reserved %}
            <a hx-get="{{ url_for('stock', index=page.id)}}"
                  hx-target="#edit-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  data-url="{{ url_for('stock', index=page.id)}}"
                  class="badge reserved"><span>Reserved</span></a>
            {% else %}
            <a hx-get="{{ url_for('stock', index=page.id)}}"
                  hx-target="#edit-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  data-url="{{ url_for('stock', index=page.id)}}"
                  class="badge availability"><span>Available</span></a>
            {% endif %}
            </div>
            <div class="edit-deleteone">
            <a href="{{ url_for('edit', index=page.id, page=num ) }}" class="details-link"><span class="edit-deletetwo">edit <i class="bi bi-link-45deg"></i> </span></a>
            <button
                  class="btn btn-danger btn-sm"
                  hx-get="{{ url_for('pre_delete', index=page.id)}}"
                  hx-target="#delete-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#delete-modal"
                  data-url="{{ url_for('pre_delete', index=page.id)}}">
                  Delete
                </button>
<!--                <a href="{{ url_for('pre_delete', index=page.id)}}" class="details-link"><span class="edit-deletetwo">delete <i class="bi bi-x-circle-fill"></i> </span></a>-->
            </div>
            {% else %}
            {% if page.sold %}
            <span class="badge sold">Sold</span>
            {% elif page.reserved %}
            <span class="badge reserved">Reserved</span>
            {% else %}
            <span class="badge availability">Available</span>
            {% endif %}
            {%endif%}


<!--            <div class="d-flex justify-content-between align-items-center mb-3 transparent-bg">-->
<!--                    <div class="dealer-info">-->
<!--                        <img src="static/assets/img/mushroom_logo.png" alt="Dealer Logo">-->
<!--                        <span>Mushroom Motors</span>-->
<!--                        <span class="badge verified">Verified Dealer</span>-->
<!--                    </div>-->
<!--            </div>-->
            <div class="card-body card-body-standard">
                <h5 class="card-title"><span class="badge bg-dark mb-4">{{page.model_year}}</span> <b>{{page.brand.capitalize()}} {{page.title.capitalize()}}</b></h5>
                <div class="mb-3">
                    <span class="badge bg-secondary">{{page.transmission}}</span>
                    <span class="badge bg-secondary">{{page.engine_rating}}</span>
                    <span class="badge bg-secondary">{{page.condition or 'N/A'}}</span>
                </div>
                <p class="card-text" >
                    {{page.description or 'insert description here'}}
                </p>
            </div>
                <div class="card-footer">
                    <h6 class="card-subtitle mb-2 text-muted">Price: KES {{ page.price|number_format}}</h6>
                    <a href="{{ url_for('blog_details', post_id=page.id) }}" class="btn md_contact">Contact Seller</a>
                </div>


        </div>
                </a>
    </div>
          {% endfor %}
        </div><!-- End blog posts list -->

      </div></section><!-- /Blog Posts 2 Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
            <ul id="pagination">
    <!-- Previous Page -->
    <li class="{% if not pages.has_prev %}disabled{% endif %}">
        <a href="?page={{ pages.prev_num if pages.has_prev else '#' }}">
            <i class="bi bi-chevron-left"></i>
        </a>
    </li>

    <!-- Page Numbers -->
    {% for page in pages.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
        {% if page %}
            <li class="{% if page == pages.page %}active{% endif %}">
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
        {% else %}
            <li>...</li>
        {% endif %}
    {% endfor %}

    <!-- Next Page -->
    <li class="{% if not pages.has_next %}disabled{% endif %}">
        <a href="?page={{ pages.next_num if pages.has_next else '#' }}">
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>
</ul>

        </div>
      </div>

    </section><!-- /Blog Pagination Section -->
    {% else %}
    <section class="blog-posts-2 section">

      <div class="container">
          <h1>No results found</h1>
      </div>
    </section>
    <section class="blog-pagination">

      <div class="container">
        <div class="d-flex justify-content-center">
            <ul>
    <!-- Previous Page -->
    <li class="disabled">
        <a href="#">
            <i class="bi bi-chevron-left"></i>
        </a>
    </li>

    <!-- Page Numbers -->
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>...</li>

    <!-- Next Page -->
    <li class="disabled">
        <a href="#">
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>
</ul>

        </div>
      </div>

    </section><!-- /Blog Pagination Section -->
    {% endif %}
</div>
      <div id="delete-modal" class="modal modal-blur fade" tabindex="-1" style="display: none">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- HTMX will load the confirmation content here -->
        </div>
      </div>
      </div>
      <div id="edit-modal" class="modal modal-blur fade" tabindex="-2" style="display: none">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- HTMX will load the confirmation content here -->
        </div>
      </div>
      </div>
  </main>

   {% include 'footer.html' %}