<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Vehicle item - Mushroom motors</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/assets/img/modern_mushroom.jpeg" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.g/static.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="blog-details-page">

   <header id="header" class="header d-flex align-items-center sticky-top dark-background">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="/static/assets/img/modern_mushroom.jpeg" alt="">
        <h1 class="sitename"> <b>Mushroom Motors.</b></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
<!--          <li><a href="{{url_for('team')}}">Team</a></li>-->
          <li><a href="{{url_for('blog')}}" class="active">Vehicles</a></li>
          <li><a href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
            {% if current_user.is_admin %}
          <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                {% if current_user.email in admin_list %}
              <li><a href="{{url_for('admin')}}">Admin Control Panel</a></li>
                {% endif %}
              <li><a href="{{url_for('edit_profile', index=current_user.id)}}">My Profile</a></li>
              <li><a href="{{url_for('blog', selected_user=current_user.id)}}">My Posts</a></li>
              <li><a href="{{url_for('upload')}}">Upload</a></li>
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>
          </li>
            {% endif %}
          <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{url_for('contact')}}">Enquiry</a>
    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>{{post.brand.capitalize()}}</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li class="current">{{post.brand.capitalize()}}</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Team Section -->
    <section id="team" class="team section">

      <div class="site-section slider-team-wrap">
        <div class="container">

          <div class="slider-nav d-flex justify-content-end mb-3">
            <a href="#" class="js-prev js-custom-prev"><i class="bi bi-arrow-left-short"></i></a>
            <a href="#" class="js-next js-custom-next"><i class="bi bi-arrow-right-short"></i></a>
          </div>

          <div class="swiper init-swiper" data-aos="fade-up" data-aos-delay="100">

            <div class="swiper-wrapper">
              {% for img_url in images %}
              <div class="swiper-slide">
                <div class="team">
                  <div class="pic">
                    <img src="{{img_url}}" alt="Image" class="card-team-img-top">
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "1",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "navigation": {
                  "nextEl": ".js-custom-next",
                  "prevEl": ".js-custom-prev"
                },
                "breakpoints": {
                  "640": {
                    "slidesPerView": 1,
                    "spaceBetween": 30
                  },
                  "768": {
                    "slidesPerView": 2,
                    "spaceBetween": 30
                  },
                  "1200": {
                    "slidesPerView": 2,
                    "spaceBetween": 30
                  }
                }
              }
        </script>


          </div>
        </div>
        <!-- /.container -->
      </div>
    </section><!-- /Team Section -->
          <div class="d-flex justify-content-start gap-2 mt-4">
              <!-- WhatsApp Button -->
            {% set id=post.id %}
              <a href="https://wa.me/{{ phone_number }}?Hi I%27m interested in the {{post.title}} link: {{url_for('blog_details', post_id=post.id)}}" target="_blank" class="forty me-4 btn success">
              <i class="bi bi-whatsapp"></i> Enquire via WhatsApp
              </a>

              <!-- Call Button -->
              <a href="tel:{{ phone_number }}" class="forty btn btn-dark">
              <i class="bi bi-telephone-fill"></i> Call Now
              </a>
          </div>

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <h2 class="title">{{post.title.capitalize()}}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-cash"></i> <a href="#">Price: Ksh {{price}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#">Model Year: {{post.model_year}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-star"></i> <a href="#">{{post.fuel.capitalize()}} vehicle</a></li>
                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{post.description or 'N/A'}}
                  </p>

                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">{{post.brand.capitalize()}}</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="#">{{post.engine_rating}} cc</a></li>
                    <li><a href="#">{{post.transmission|capitalize}} transmission</a></li>
                    <li><a href="#">{{post.vehicle_type}}</a></li>
                  </ul>
                </div><!-- End meta bottom -->

              </article>
              <div class="accordion mt-5" id="specAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="specHeader">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecs" aria-expanded="true" aria-controls="collapseSpecs">
                        View Specifications
                    </button>
                </h2>
                <div id="collapseSpecs" class="accordion-collapse collapse" aria-labelledby="specHeader" data-bs-parent="#specAccordion">
                    <div class="accordion-body">
                    <ul class="spec-list">
                      {% for feature in features %}
                      <li class="spec-item">
                            <span class="spec-label">{{feature|capitalize}}:</span> ✔
                      </li>
                      {% endfor %}
                      {% for k,v in specs.items() %}
                      <li class="spec-item">
                            <span class="spec-label">{{k|capitalize}}:</span> {{v}}
                      </li>
                      {% endfor %}
                    </ul>
                    </div>
                </div>
            </div>
            </div>

            </div>
          </section><!-- /Blog Details Section -->


        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">

            <!-- Blog Author Widget -->
            <div class="blog-author-widget widget-item">

              <div class="d-flex flex-column align-items-center">
                <h4>Car Details</h4>
                <div class="social-links">
                  <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                  <a target="_blank" href="https://www.facebook.com/profile.php?id=61573526138018"><i class="bi bi-facebook"></i></a>
                  <a target="_blank" href="https://www.instagram.com/mushroom.motors/"><i class="bi bi-instagram"></i></a>
                  <a href="https://instagram.com/#"><i class="bi bi-linkedin"></i></a>
                </div>
                <p>Make: {{post.brand.capitalize()}}</p>
                <p>Model: {{post.title.capitalize()}}</p>
                <p>Engine Size: {{post.engine_rating}} cc</p>
                <p>Mileage: {{post.mileage}} km</p>
                <p>Model Year: {{post.model_year}}</p>
                <p>Build Type: {{post.vehicle_type}}</p>
                <p>Fuel Type: {{post.fuel}}</p>
                <p>Condition: {{post.condition}}</p>
                <p>Drive: {{post.drive_type}}</p>
            </div>
            </div><!--/Blog Author Widget -->

            <!-- Search Widget -->
            <div class="search-widget widget-item">

              <h3 class="widget-title">Search</h3>
              <form hx-get="/search" hx-swap="outerHTML"  hx-target="#results" id="myForm" onsubmit="addEventOnInput()">
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                <input type="text" class="form-control" id="myInput" placeholder="Search for Vehicle type" name="query" hx-get="/search" hx-swap="outerHTML" hx-trigger="keyup delay:500ms"  hx-target="#results" oninput="addEventOnInput()">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
              </form>
              <div class="p-2 hide bd-highlight" id="results"></div>

            </div><!--/Search Widget -->

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Vehicles</h3>
              <ul>
                <li><a href="#">SUV</a></li>
                <li><a href="#">Saloon</a></li>
                <li><a href="#">hatchback</a></li>
                <li><a href="#">Luxury</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">BMW</a></li>
                <li><a href="#">Honda</a></li>
                <li><a href="#">Lexus</a></li>
                <li><a href="#">Nissan</a></li>
                <li><a href="#">Build</a></li>
                <li><a href="#">Comfort</a></li>
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

    {% include 'footer.html' %}