<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Contact - Mushroom motors</title>
  <meta name="description" content="Discover your dream car at Mushroom Motors in Nairobi, Kenya. Explore our wide selection of new & quality used cars, unbeatable deals, and expert service. Contact us and drive away happy today!" />

  <!-- Favicons -->
  <link href="static/assets/img/modern_mushroom.jpeg" rel="icon">
  <link href="static/assets/img/modern_mushroom.jpeg" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/main_v5.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="contact-page">

    <header id="header" class="header d-flex align-items-center sticky-top dark-background">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="/static/assets/img/modern_mushroom.jpeg" alt="">
        <h1 class="sitename"> <b>Mushroom Motors.</b></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
<!--          <li><a href="{{url_for('team')}}">Team</a></li>-->
          <li><a href="{{url_for('blog')}}">Vehicles</a></li>
          <li><a href="{{url_for('services')}}">Services</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
            {% if current_user.is_admin %}
          <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                {% if current_user.email in admin_list %}
              <li><a href="{{url_for('admin')}}">Admin Control Panel</a></li>
                {% endif %}
              <li><a href="{{url_for('edit_profile', index=current_user.id)}}">My Profile</a></li>
              <li><a href="{{url_for('blog', selected_user=current_user.id)}}">My Posts</a></li>
              <li><a href="{{url_for('upload')}}">Upload</a></li>
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="https://wa.me/+254748424226?Hi Victor I need help with sth" target="_blank">Contact Developer</a></li>
              <li><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>
          </li>
            {% endif %}
          <li><a href="{{url_for('contact')}}" class="active">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{url_for('contact')}}">Enquiry</a>
    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Contact</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li class="current">Contact</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

     <!-- Contact Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-4" data-aos="fade-up" data-aos-delay="100">
          <iframe style="border:0; width: 100%; height: 270px;" src=https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d36.8376641!3d-1.1955799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3d004365dccd%3A0xc86c8cda98c73548!2sMushroom+Motors!5e0!3m2!1sen!2s!4v1676961268712!5m2!1sen!2s" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>Old Kiambu Road</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+254 718 111 888</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>mushroommotors25@gmail.com</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="{{url_for('contact')}}" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>

    {% include 'footer.html' %}
