{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}

  <style>
    .dropzone {
        border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 400px;
        color:  #0087F7;
    }
    #fike {border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 100px;
        color:  #0087F7;}
    /* Add margin between form elements */
    .custom-form {
        margin-bottom: 15px; /* Adjust as needed */
    }

    /* Inline forms adjustment */
    .form-control, #brand, #rating, #model {
        margin-right: 10px;
        border: 2px solid black;
        margin-bottom: 15px;

    }

    /* Button styling */
    .custom-form .btn-primary {
        margin-top: 10px;
    }
  </style>

  <main id="main" data-aos="fade" data-aos-delay="100">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Choose a new thumbnail for your video</h2>
              <p>Upload a new thumbnail</p>

            <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <!-- Render images -->
    <div class="mb-3">
        <label class="form-label">Current Images:</label>
        <div class="row">
            {% for image in images %}
                <div class="col-md-3 col-sm-6 col-6 text-center">
                    <img src="{{ image }}" alt="Post Image" class="img-thumbnail mb-2" style="max-height: 200px;">
                    <div>
                      <label>
                        <input type="checkbox" name="delete_images" value="{{ images.index(image) }}">
                        Delete</label>
                    </div>
                    <!-- Thumbnail Radio Button -->
                <div>
                    <label><input type="radio" name="thumbnail_image" value="{{ images.index(image) }}">
                    Set as Thumbnail</label>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
            {{ wtf.quick_form(form, form_type="inline", button_map={"submit": "primary"}) }}
            </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="notification is-danger" style="color:red">
            {{ messages[0] }}.
        </p>
        {% endif %}
        {% endwith %}


<!--            <a class="cta-btn" href="contact.html">Available for hire</a>-->
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="notification is-danger" style="color:red">
            {{ messages[0] }}.
        </p>
        {% endif %}
        {% endwith %}

      </div>
    </section>

  </main><!-- End #main -->


  {% include 'footer.html' %}