{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}

    <main class="main" data-aos="fade" data-aos-delay="100">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Thank you for registering!</h2>
              <p>Please check your email to verify your account.</p>
              <p>If you don't see it check your spam folder as well</p>
              <p>Didn't see it? Click here to <a href="{{url_for('resend_confirmation')}}">resend it</a></p>
<!--            <a class="cta-btn" href="contact.html">Available for hire</a>-->

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <section class="sample-page">
      <div class="container d-flex align-items-center" data-aos="fade-up">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="notification is-success" style="color:green">
            {{ messages[0] }}.
        </p>
        {% endif %}
        {% endwith %}

      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}