{% if pages.items %}
    <!-- Blog Posts 2 Section -->
    <section id="blog-posts-2" class="blog-posts-2 section">

      <div class="container">

         <div class="row gy-5">

          {% for page in pages %}
        <div id="vehicle-{{ page.id }}" class="col-lg-4 col-md-6 mt-5">
            <a href="{{ url_for('blog_details', post_id=page.id) }}">
        <div class="card card-standard">
            {% set image_url = page.img_url.strip("[]").split(",")[0].strip().strip("'") %}
            <img src="{{ page.folder_name ~ '/' ~ image_url }}" class="card-img-top" alt="Car Image" loading="lazy">
            {% if current_user.is_admin %}
             <div class="check-stock" id="check-stock-{{page.id}}">
            {% if page.sold %}
            <a hx-get="{{ url_for('stock', index=page.id)}}"
                  hx-target="#edit-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  data-url="{{ url_for('stock', index=page.id)}}"
               class="badge sold"><span>Sold</span></a>
            {% elif page.reserved %}
            <a hx-get="{{ url_for('stock', index=page.id)}}"
                  hx-target="#edit-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  data-url="{{ url_for('stock', index=page.id)}}"
                  class="badge reserved"><span>Reserved</span></a>
            {% else %}
            <a hx-get="{{ url_for('stock', index=page.id)}}"
                  hx-target="#edit-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  data-url="{{ url_for('stock', index=page.id)}}"
                  class="badge availability"><span>Available</span></a>
            {% endif %}
            </div>
            <div class="edit-deleteone">
            <a href="{{ url_for('edit', index=page.id, page=num ) }}" class="details-link"><span class="edit-deletetwo">edit <i class="bi bi-link-45deg"></i> </span></a>
            <button
                  class="btn btn-danger btn-sm"
                  hx-get="{{ url_for('pre_delete', index=page.id)}}"
                  hx-target="#delete-modal"
                  data-bs-toggle="modal"
                  data-bs-target="#delete-modal"
                  data-url="{{ url_for('pre_delete', index=page.id)}}">
                  Delete
                </button>
<!--                <a href="{{ url_for('pre_delete', index=page.id)}}" class="details-link"><span class="edit-deletetwo">delete <i class="bi bi-x-circle-fill"></i> </span></a>-->
            </div>
            {% else %}
            {% if page.sold %}
            <span class="badge sold">Sold</span>
            {% elif page.reserved %}
            <span class="badge reserved">Reserved</span>
            {% else %}
            <span class="badge availability">Available</span>
            {% endif %}
            {%endif%}


<!--            <div class="d-flex justify-content-between align-items-center mb-3 transparent-bg">-->
<!--                    <div class="dealer-info">-->
<!--                        <img src="static/assets/img/mushroom_logo.png" alt="Dealer Logo">-->
<!--                        <span>Mushroom Motors</span>-->
<!--                        <span class="badge verified">Verified Dealer</span>-->
<!--                    </div>-->
<!--            </div>-->
            <div class="card-body card-body-standard">
                <h5 class="card-title"><span class="badge bg-dark mb-4">{{page.model_year}}</span> <b>{{page.brand.capitalize()}} {{page.title.capitalize()}}</b></h5>
                <div class="mb-3">
                    <span class="badge bg-secondary">{{page.transmission}}</span>
                    <span class="badge bg-secondary">{{page.engine_rating}}</span>
                    <span class="badge bg-secondary">{{page.condition or 'N/A'}}</span>
                </div>
                <p class="card-text" >
                    {{page.description or 'insert description here'}}
                </p>
            </div>
                <div class="card-footer">
                    <h6 class="card-subtitle mb-2 text-muted">Price: KES {{ page.price|number_format}}</h6>
                    <a href="{{ url_for('blog_details', post_id=page.id) }}" class="btn md_contact">Contact Seller</a>
                </div>


        </div>
                </a>
    </div>
          {% endfor %}
        </div><!-- End blog posts list -->

      </div></section><!-- /Blog Posts 2 Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

      <div class="container">
        <div class="d-flex justify-content-center">
            <ul id="pagination">
    <!-- Previous Page -->
    <li class="{% if not pages.has_prev %}disabled{% endif %}">
        <a href="?page={{ pages.prev_num if pages.has_prev else '#' }}">
            <i class="bi bi-chevron-left"></i>
        </a>
    </li>

    <!-- Page Numbers -->
    {% for page in pages.iter_pages(left_edge=2, left_current=2, right_current=2, right_edge=2) %}
        {% if page %}
            <li class="{% if page == pages.page %}active{% endif %}">
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
        {% else %}
            <li>...</li>
        {% endif %}
    {% endfor %}

    <!-- Next Page -->
    <li class="{% if not pages.has_next %}disabled{% endif %}">
        <a href="?page={{ pages.next_num if pages.has_next else '#' }}">
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>
</ul>

        </div>
      </div>

    </section><!-- /Blog Pagination Section -->
    {% else %}
    <section class="blog-posts-2 section">

      <div class="container">
          <h1>No results found</h1>
      </div>
    </section>
    <section class="blog-pagination">

      <div class="container">
        <div class="d-flex justify-content-center">
            <ul>
    <!-- Previous Page -->
    <li class="disabled">
        <a href="#">
            <i class="bi bi-chevron-left"></i>
        </a>
    </li>

    <!-- Page Numbers -->
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>...</li>

    <!-- Next Page -->
    <li class="disabled">
        <a href="#">
            <i class="bi bi-chevron-right"></i>
        </a>
    </li>
</ul>

        </div>
      </div>

    </section><!-- /Blog Pagination Section -->
    {% endif %}