{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}

<main id="main" data-aos="fade" data-aos-delay="100">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Forgot your password?</h2>
              <p>Please enter your email to get a reset link.</p>
              <p>If you don't see it check your spam folder as well</p>
              <form action="{{ url_for('forgot') }}" method="POST">
                  <label for="fname">Email address:</label>
                  <br>
                  <input type="text" id="fname" name="email">
                  <input type="hidden" name="csrf_token" value = "{{ csrf_token }}" />
                  <input class="btn btn-primary button-margin mt-5 mb-5" type = "submit" value="submit">
              </form>
              <div >

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="notification is-danger" style="color:red">
            {{ messages[0] }}.
        </p>
        {% endif %}
        {% endwith %}

      </div>
<!--            <a class="cta-btn" href="contact.html">Available for hire</a>-->

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

  </main><!-- End #main -->


  {% include 'footer.html' %}