{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}
 <style>
    .dropzone {
        border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 400px;
        color:  #0087F7;
    }
    #fike {border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 100px;
        color:  #0087F7;}
    /* Add margin between form elements */
    .custom-form {
        margin-bottom: 15px; /* Adjust as needed */
    }

    /* Inline forms adjustment */
    .form-control, #brand, #rating, #model {
        margin-right: 10px;
        border: 2px solid black;
        margin-bottom: 15px;

    }

    /* Button styling */
    .custom-form .btn-primary {
        margin-top: 10px;
    }
  </style>

  <main class="main" data-aos="fade" data-aos-delay="100">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Register for an account</h2>
              <p>We can't wait to hear your comments!</p>

            <form method="POST" action="/register" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
            {{ wtf.quick_form(form, form_type="inline", button_map={"submit": "primary"}) }}
            </form>

<!--            <a class="cta-btn" href="contact.html">Available for hire</a>-->

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <section class="sample-page">
      <div class="container d-flex align-items-center" data-aos="fade-up">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class="notification is-danger" style="color:red">
            {{ messages[0] }}.
        </p>
        {% endif %}
        {% endwith %}

      </div>
    </section>

  </main><!-- End #main -->

  {% include 'footer.html' %}