<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Mushroom motors</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/static/assets/img/modern_mushroom.jpeg" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.g/static.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/static/assets/css/main_v2.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Active
  * Template URL: https://bootstrapmade.com/active-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header mb-0 d-flex align-items-center sticky-top dark-background">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="{{url_for('home')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="/static/assets/img/modern_mushroom.jpeg" alt="">
        <h1 class="sitename"> <b>Mushroom Motors.</b></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{url_for('home')}}">Home</a></li>
<!--          <li><a href="{{url_for('team')}}">Team</a></li>-->
          <li><a href="{{url_for('blog')}}">Vehicles</a></li>
          <li><a href="{{url_for('services')}}" class="active">Services</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>
            {% if current_user.is_admin %}
          <li class="dropdown"><a href="#"><span>Admin</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
                {% if current_user.email in admin_list %}
              <li><a href="{{url_for('admin')}}">Admin Control Panel</a></li>
                {% endif %}
              <li><a href="{{url_for('edit_profile', index=current_user.id)}}">My Profile</a></li>
              <li><a href="{{url_for('blog', selected_user=current_user.id)}}">My Posts</a></li>
              <li><a href="{{url_for('upload')}}">Upload</a></li>
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="https://wa.me/+254748424226?Hi Victor I need help with sth" target="_blank">Contact Developer</a></li>
              <li><a href="{{url_for('logout')}}">Log Out</a></li>
            </ul>
          </li>
            {% endif %}
          <li><a href="{{url_for('contact')}}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{url_for('contact')}}">Enquiry</a>
    </div>
  </header>


  <main class="main">

    <!-- Page Title -->
    <div class="page-title light-background">
      <div class="container">
        <h1>Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->
       <!-- Services Section -->
    <section id="services" class="services section ">

      <div class="container">
        <div class="row gy-4 justify-content-center">

          <div class="col-lg-3">
            <div class="services-item" data-aos="fade-up">
              <div class="services-icon">
                <i class="bi bi-bullseye"></i>
              </div>
              <div>
                <h3>Marketplace</h3>
                <p>All of your dream cars in one place</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="services-item" data-aos="fade-up" data-aos-delay="100">
              <div class="services-icon">
                <i class="bi bi-command"></i>
              </div>
              <div>
                <h3>Import Services</h3>
                <p>We bring the best from overseas.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="services-item" data-aos="fade-up" data-aos-delay="100">
              <div class="services-icon">
                <i class="bi bi-bullseye"></i>
              </div>
              <div>
                <h3>Servicing & wheel alignment</h3>
                <p>Keep your wheels tight and the car will be right.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- /Services Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container">

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-5">
            <div class="images-overlap">
              <img src="/static/assets/img/img_v_1.jpg" alt="student" class="img-fluid img-1" data-aos="fade-up" loading="lazy">
            </div>
          </div>

          <div class="col-lg-4 ps-lg-5">

            <h2 class="content-title">We value your time</h2>
            <span class="content-subtitle">Why Us</span>
            <p class="lead">
              You order, we deliver. That is our motto. No ifs, buts and maybes
            </p>
            <p class="mb-5">
              Mushroom motors builds its business on customer trust and confidence.
            </p>
            <div class="row mb-5 count-numbers">

              <!-- Start Stats Item -->
              <div class="col-4 counter" data-aos="fade-up" data-aos-delay="100">
                <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="{{total}}" data-purecounter-duration="1" class="purecounter number"></span>
                <span class="d-block">New Imports</span>
              </div>
              <!-- End Stats Item -->

              <!-- Start Stats Item -->
              <div class="col-4 counter" data-aos="fade-up" data-aos-delay="200">
                <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="{{sold}}" data-purecounter-duration="1" class="purecounter number"></span>
                <span class="d-block">Sold</span>
              </div>
              <!-- End Stats Item -->

              <!-- Start Stats Item -->
              <div class="col-4 counter" data-aos="fade-up" data-aos-delay="300">
                <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="{{suv}}" data-purecounter-duration="1" class="purecounter number"></span>
                <span class="d-block">SUVs</span>
              </div>
              <!-- End Stats Item -->

            </div>
          </div>

        </div>

      </div>
    </section><!-- /Stats Section -->

    <!-- Tabs Section -->
    <section id="tabs" class="tabs section light-background">
      <!-- Section Title -->
      <div class="container section-title mb-4" data-aos="fade-up">
        <h1 class="text-center mb-3">Our Services</h1>
          <br>
          <a href="#tabs"> We offer: <i class="bi bi-arrow-down"></i> </a>
      </div><!-- End Section Title -->
      <div class="container">
        <div class="row gap-x-lg-4 justify-content-between">
          <div class="col-lg-4 js-custom-dots">
            <a href="#" class="service-item link horizontal d-flex active" data-aos="fade-left" data-aos-delay="0">
              <div class="service-icon color-1 mb-4">
                <i class="bi bi-alarm"></i>
              </div>
              <!-- /.icon -->
              <div class="service-contents">
                <h3>Cleaning & Maintenance</h3>
                  <p>Car wash & waxing. Tyre alignment. Servicing</p>
              </div>
              <!-- /.service-contents-->
            </a>
            <!-- /.service -->

            <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="100">
              <div class="service-icon color-2 mb-4">
                <i class="bi bi-bag-check"></i>
              </div>
              <!-- /.icon -->
              <div class="service-contents">
                <h3>Trade-in</h3>
                <p>
                  Get a fair valuation at Mushroom motors to fund your next purchase.
                </p>
              </div>
              <!-- /.service-contents-->
            </a>
            <!-- /.service -->

            <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="200">
              <div class="service-icon color-3 mb-4">
                <i class="bi bi-briefcase"></i>
              </div>
              <!-- /.icon -->
              <div class="service-contents">
                <h3>Import Services</h3>
                <p>
                  We help you bring the best from overseas, and guide you through the process step-by-step.
                </p>
              </div>
              <!-- /.service-contents-->
            </a>
            <!-- /.service -->

            <a href="#" class="service-item link horizontal d-flex" data-aos="fade-left" data-aos-delay="300">
              <div class="service-icon color-4 mb-4">
                <i class="bi bi-easel"></i>
              </div>
              <!-- /.icon -->
              <div class="service-contents">
                <h3>Marketplace</h3>
                <p>
                  We offer the best deals in town. Get your dream car at premium comfort and luxury.
                </p>
              </div>
              <!-- /.service-contents-->
            </a>
            <!-- /.service -->
          </div>

          <div class="col-lg-8">
            <div class="swiper init-swiper-tabs">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoHeight": true,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  },
                  "breakpoints": {
                    "320": {
                      "slidesPerView": 1,
                      "spaceBetween": 40
                    },
                    "1200": {
                      "slidesPerView": 1,
                      "spaceBetween": 1
                    }
                  }
                }
              </script>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="gallery-item h-100">
                  <img src="/static/assets/img/masonry-portfolio/carwashpic.jpg" alt="Image" class="img-fluid">
              <div class="gallery-links d-flex align-items-center justify-content-center">
                  <a href="{{ url_for('static', filename='assets/img/portfolio/carwash.mp4') }}" title="Cleaning Services" class="glightbox preview-link"><i class="bi bi-play-btn"></i></a>
              </div>

            </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-item h-100">
                        <img src="/static/assets/img/masonry-portfolio/rrresize.jpg" alt="Image" class="img-fluid">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="{{ url_for('static', filename='assets/img/portfolio/rover_1.mp4') }}" title="trade-in" class="glightbox preview-link"><i class="bi bi-play-btn"></i></a>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-item h-100">
                        <img src="/static/assets/img/masonry-portfolio/benzz.jpg" alt="Image" class="img-fluid">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="{{ url_for('static', filename='assets/img/portfolio/import.mp4') }}" title="Import services" class="glightbox preview-link"><i class="bi bi-play-btn"></i></a>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-item h-100">
                        <img src="/static/assets/img/masonry-portfolio/lexuss.jpg" alt="Image" class="img-fluid">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="{{ url_for('static', filename='assets/img/portfolio/lexus.mp4') }}" title="Comfort & Luxury" class="glightbox preview-link"><i class="bi bi-play-btn"></i></a>
                        </div>

                    </div>
                </div>
<!--                <div class="swiper-slide">-->
<!--                  <img src="/static/assets/img/img_h_3.jpg" alt="Image" class="img-fluid">-->
<!--                </div>-->
<!--                <div class="swiper-slide">-->
<!--                  <img src="/static/assets/img/img_h_4.jpg" alt="Image" class="img-fluid">-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /Tabs Section -->

<!--    &lt;!&ndash; Services Section &ndash;&gt;-->
<!--    <section id="services" class="services section light-background">-->

<!--      <div class="container">-->
<!--        <div class="row gy-4 justify-content-center">-->

<!--          <div class="col-lg-3">-->
<!--            <div class="services-item" data-aos="fade-up">-->
<!--              <div class="services-icon">-->
<!--                <i class="bi bi-bullseye"></i>-->
<!--              </div>-->
<!--              <div>-->
<!--                <h3>Technology</h3>-->
<!--                <p>Separated they live in Bookmarksgrove right at the coast</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3">-->
<!--            <div class="services-item" data-aos="fade-up" data-aos-delay="100">-->
<!--              <div class="services-icon">-->
<!--                <i class="bi bi-command"></i>-->
<!--              </div>-->
<!--              <div>-->
<!--                <h3>Web Design</h3>-->
<!--                <p>Separated they live in Bookmarksgrove right at the coast</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-3">-->
<!--            <div class="services-item" data-aos="fade-up" data-aos-delay="200">-->
<!--              <div class="services-icon">-->
<!--                <i class="bi bi-bar-chart"></i>-->
<!--              </div>-->
<!--              <div>-->
<!--                <h3>Branding</h3>-->
<!--                <p>Separated they live in Bookmarksgrove right at the coast</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </section>&lt;!&ndash; /Services Section &ndash;&gt;-->

  </main>

  {% include 'footer.html' %}