{% import "bootstrap/wtf.html" as wtf %}
{% include 'header.html' %}

<style>
    .dropzone {
        border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 400px;
        color:  #0087F7;
    }
    #fike {border: 2px dashed #0087F7;
        margin: 10%;
        min-height: 100px;
        color:  #0087F7;}
    /* Add margin between form elements */
    .custom-form {
        margin-bottom: 15px; /* Adjust as needed */
    }

    /* Inline forms adjustment */
    .form-control, #brand, #rating, #model {
        margin-right: 10px;
        border: 2px solid black;
        margin-bottom: 15px;

    }

    /* Button styling */
    .custom-form .btn-primary {
        margin-top: 10px;
    }
  </style>


  <main id="main" data-aos="fade" data-aos-delay="100">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Secret file upload</h2>
              <p>This is where the magic happens! As an admin please note:</p>
            <br>
              <p>1. You can now upload multiple images as you wish!(upto 9)</p>
              <p>2. Only images are accepted (for now). Each upload will be treated as multiple images of one vehicle post</p>
              <p>3. Non-media file types won't be accepted. Click/drag to drop-area to add files and wait for tick</p>
            <br>
<!--                {{ dropzone.create(action=url_for('upload')) }}-->
            <br>
            <br>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
              {{ wtf.quick_form(form, form_type="inline", button_map={"submit": "primary"}) }}
            </form>
            <!--            <form action = "{{url_for('upload') }}" method="POST" enctype="multipart/form-data" id="file-form">-->
<!--              <input class="cta-btn" id="media" type="file" name="file" multiple >-->
<!--              <input class="cta-btn button-margin" type = "submit" value="Upload">-->
<!--            </form>-->
<!--            <br>-->
<!--            <div id="Progress_Status">-->
<!--            <div id="myprogressBar"></div>-->
<!--          </div>-->
<!--            <a class="cta-btn" href="contact.html">Available for hire</a>-->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="d-flex align-items-center">
        <p class="notification is-danger">
            {{ messages[0] }}.
        </p>
            </div>
        {% endif %}
        {% endwith %}

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <section class="sample-page">
      <div class="container" data-aos="fade-up">

        <p>
          upload your files here!
        </p>
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        <p class="notification is-danger" style="color:red">
            {{ messages[0] }}.
        </p>
      {% endif %}
      {% endwith %}

      </div>
    </section>

  </main><!-- End #main -->


  {% include 'footer.html' %}